<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nullcat.sckj.mapper.EquipmentMapper">
    <update id="update" parameterType="cn.nullcat.sckj.pojo.Equipment">
        UPDATE equipment
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="level != null">level = #{level},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
        </set>
        WHERE id = #{id}
    </update>



    <select id="allEquipment" resultType="cn.nullcat.sckj.pojo.Equipment">
        SELECT e.*
        FROM equipment e
        <where>
            <if test="name != null"> AND e.name LIKE CONCAT('%', #{name}, '%') </if>
            <if test="description != null"> AND e.description LIKE CONCAT('%', #{description}, '%') </if>
            <if test="begin != null and end != null"> AND e.created_at BETWEEN #{begin} AND #{end} </if>
        </where>
        ORDER BY e.created_at DESC
    </select>
    <select id="getBorrowRecords" resultMap="BorrowRecordVO">
        SELECT
        u.username as name,
        g.name as group_name,
        eb.borrow_time,
        eb.return_time
        FROM equipment_borrow eb
        LEFT JOIN users u ON eb.user_id = u.id
        LEFT JOIN user_groups g ON u.group_id = g.id
        <where>
            <if test="equipmentId != null">
                AND eb.equipment_id = #{equipmentId}
            </if>
            <if test="begin != null and end != null">
                AND eb.borrow_time BETWEEN #{begin} AND #{end}
            </if>
        </where>
        ORDER BY eb.borrow_time DESC
    </select>
    <resultMap id="BorrowRecordVO" type="cn.nullcat.sckj.pojo.VO.EquipmentBorrowVO">
        <result column="name" property="name"/>
        <result column="group_name" property="groupName"/>
        <result column="borrow_time" property="borrowTime"/>
        <result column="return_time" property="returnTime"/>
    </resultMap>
</mapper>