<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nullcat.sckj.mapper.TeamRecruitmentMapper">

    <update id="update" parameterType="cn.nullcat.sckj.pojo.TeamRecruitment">
        UPDATE team_recruitment
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="contact != null">contact = #{contact},</if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="getAll" resultType="cn.nullcat.sckj.pojo.TeamRecruitment">
        SELECT t.*
        FROM team_recruitment t
        <where>
            <if test="title != null"> AND t.title LIKE CONCAT('%', #{title}, '%') </if>
            <if test="begin != null and end != null"> AND t.created_at BETWEEN #{begin} AND #{end} </if>
        </where>
        ORDER BY t.created_at DESC
    </select>


</mapper>