<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nullcat.sckj.mapper.FeedbackMapper">

    <select id="getAllFeedback" resultType="cn.nullcat.sckj.pojo.Feedback">
        SELECT f.*, u.username
        FROM feedback f
                 JOIN users u ON f.user_id = u.id
    </select>

</mapper>